<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>课件下载</title>
    <link rel="stylesheet" type="text/css" href="../static/news/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../static/news/css/main.css">
    <link rel="stylesheet" type="text/css" href="../static/admin/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../static/admin/css/main.css">
    <script type="text/javascript" src="../static/news/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="../static/news/js/user_pass_info.js"></script>
</head>
<body class="inframe_body">
<form class="pass_info">
    <h3>课件下载</h3>
    <div class="form-group">
        <label>网站地址：</label>
        <input type="text" name="url" class="input_txt">
    </div>
    <div class="form-group">
        <input type="submit" value="提 交" class="input_sub">
    </div>
</form>
<ul class="list_con">
</ul>

</body>
</html>